/* ---- My own CSS Style ---- */

:root {
  font-size: 16px;
}

html {
  background-color: #fcfcfc;
}

body {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fcfcfc;
  text-align: center;
}

.footer ul li {
  display: inline-block;
}

.nav-wrapper {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #fcfcfc;
}

.nav-menu-item {
  display: block;
  height: 100%;
}

.nav-menu-link {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 600;
  letter-spacing: .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6.2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: currentColor;
  text-transform: uppercase;
  opacity: .4;
  -webkit-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}

.nav-menu-link:hover {
  opacity: 1;
}

@media only screen and (max-width:960px) {
  .nav-menu-link {
    width: 100%;
  }
}
.nav-logo {
  align-items: center;
}

.nav-logo {
  display: flex;
  height: 6.2rem;
  margin-right: 2rem;
}

.nav-logo a {
  font-size: 2rem;
  display: block;
  color: currentColor;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.l-center, .l-horizontal {
  display: flex;
}

.nav {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 1024px;
  max-width: 100%;
  align-items: center;
  z-index: 9;
  min-height: 6.2rem;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  max-width: 100%;
  padding-top: 10rem;
}

.index-about {
  align-items: center;
}

.m-bottom-l {
  margin-bottom: 3rem;
}

.m-bottom-xl {
  margin-bottom: 12rem;
}

.t-title {
  font-weight: 800;
}

.f-large {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.col-7 {
  width: 58.33%;
  max-width: 100%;
}

.index-about>div:nth-of-type(1) {
  padding-left: 3rem;
  padding-right: 3rem;
}

.l-horizontal>:not(:last-child) {
  margin-right: 2rem;
}


/* Style button */

@media only screen and (min-width: 961px) {
  .btn-large, .btn-paypal {
      vertical-align: middle;
      height: 4.4rem;
  }
}

.btn-large {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.btn-large {
  align-content: center;
  align-items: center;
  font-family: Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  border: 0;
  cursor: pointer;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center!important;
}

.btn-large {
  border-radius: .4rem;
  display: inline-flex;
  transition: all .3s ease-in;
}

.btn-large {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.btn-yellow {
  color: #000;
  background-color: #ffd601;
  box-shadow: 0 3px 30px 3px rgba(255,214,1,.45);
}

.btn-more {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.btn-more span {
  margin-right: 2rem;
}

.analytics-index-about {
}

/* Style Col-5 */
.col-5 {
  width: 41.66%;
  max-width: 100%;
}

.l-center {
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.index-about-avatar {
  transform: rotateY(180deg);
  display: block;
  width: 24rem;
  max-width: 100%;
}
